body {
  font-family: "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(55, 128, 224, 0.887);
  width: 1000px;
  height: auto;
  padding: 8px;
  gap: 8px;
  box-sizing: border-box;
  align-items: flex-start;
}

.container {
  width: calc((1000px - 32px) / 3);
  height: auto;
  background-color: rgb(230, 222, 222);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.adding,
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.adding {
  margin-top: 10px;
  color: rgb(143, 140, 137);
  font-size: 25px;
  gap: 3px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(100, 103, 103);
}

a:hover {
  text-decoration: underline;
}

a:hover,
.adding:hover {
  color: rgb(100, 103, 103);
  background-color: rgb(206, 199, 199);
}

.tasks {
  margin: 0;
  width: 100%;
  height: auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.task, .dragged {
  min-height: 35px;
}

.task,
.text_field, .dragged {
  padding: 7px;
  box-sizing: border-box;
  color: rgb(100, 103, 103);
  border-radius: 3px;
  background-color: rgb(245, 240, 240);
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 93%;
}

.close {
  padding: 0;
  border: none;
  background-color: rgb(230, 222, 222);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  position: relative;
  right: -5px;
  top: -5px;
  display: none;
  cursor: pointer;
  font-size: 20px;
}

.cross {
  display: block;
  height: 100%;
  color: rgb(100, 103, 103);
}

.task:hover .close {
  display: block;
}

.formWrapper {
  width: 100%;
}

.myForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  width: 100%;
  justify-content: start;
  box-sizing: border-box;
  padding: 3px;
}

.text_field {
  min-width: 250px;
  width: 100%;
  min-height: 60px;
  resize: none;
  border: none;
}

.text_field:focus {
  background-color: #fff;
}

.text_field:focus-visible {
  outline: none;
}

.formBtn {
  border: none;
  padding: 7px;
  box-sizing: border-box;
  background-color: rgb(35, 202, 99);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.formBtn:hover {
  background-color: rgb(34, 184, 91);
}

.formBtn:active {
  background-color: rgb(29, 170, 83);
}

.close_form {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 20px;
}

.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background-color: #fff;
  cursor: grabbing;
  width: calc((1000px - 32px) / 3);
}

.placeholder {
  border-radius: 3px;
  background-color: rgb(207, 198, 198);
  height: 30px;
}
